h1 {
    background-color: grey;
    color: white;
    text-align: center;
    height: 200px;
    justify-content: center;

  }
  
  .main {
    background-color: lightgrey;
    padding: 1em;
    border-style:dotted solid double;
    border-color: maroon;
    border-width: 20px;
  }
  
  body{
    
  }