h1 {
    background-color: grey;
    color: white;
    text-align: center;
    height: 100px;
    justify-content: center;

  }
  
  
  body{
    
  }

  table, td, th {
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

  #submit-button {
      text-align: right
  }